@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.error { border: 4px solid red; }

.login-flash {
   // margin-bottom: 1em;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.signup {
    margin-right: 0.7em;
}

.jumbotron { 
    text-align: right;
    color: grey;
    background: rgb(56,56,56);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);

    h1 { 
        font-size: 2em; 
        margin-bottom: 0.5em;
        font-weight: bold; 
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    .lead { 
        width: 100%;
        line-height: 1.5;
    
    }
}

.inputBox {
    display: flex;
    justify-content: space-between;

    h2 {
    float: right;
    width: 50%;

    }
}

.log-in {
    width: 40%;
    display: flex;
    flex-direction: column;

    // grid-template-columns: 1fr 1fr;
    // grid-gap: 1em;

    input {
        background-color: black;
        float: right;
        padding: 0 1em;
        margin-bottom: 1.5em; 
    }
}

.btn-primary {
    color: lightseagreen;
    background-color: #fff;
}

.login-submit { 
    font-family: 'helvetica', arial;
    float: inline-end;
    font-size: 1.90em;
    padding:  0.25em; 
}

.signup {
    margin-top: 0.3em;
    margin-right: 0;
}

@media screen and (min-width: 1000px) {
    .jumbotron p {
        width: 80%;
    }
}